

<section class="hero bg-primary pt-1 mt-5 text-white">
    <div class="container py-md-5 mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="display-5 fw-bold">Videos</h1>
          <p class="mt-4 pb-5">The entire AGS Video Archive converted from tape to digital.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="search pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-9 mt-4">
          <div class="search-bar position-relative shadow rounded-pill">
            <input type="text" class="form-control form-control-lg rounded-pill py-3 border-0" placeholder="Search Keyword" />
            <a href="javascript:;" class="btn bg-white position-absolute bg-none"><i class="fas fa-search"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 mt-4">
          <div class="search-bar position-relative shadow rounded-pill">
            <select class="form-select form-select-lg py-3 rounded-pill border-0 px-4">
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <section class="videos pb-5">
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card radius overflow-hidden border-0 position-relative">
            <a href="javascript:;" class="heart position-absolute end-0 top-0 mt-3 me-3 z-index"><i class="fas fa-heart"></i></a>
            <div class="position-relative text-center overflow-hidden">
              <a class="gif-link position-absolute start-0 end-0 bottom-0 top-0" href="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w.gif"><img class="gif-img w-100 h-100" src="https://media0.giphy.com/media/gVAT5G1IoF3Jm/200w_s.gif"><p class="play radius text-center rounded-circle position-absolute mx-auto start-0 end-0"><i class="fas fa-play text-white"></i></p></a>
              <img src="assets/images/video.jpg" class="img-fluid" alt="Image" />
            </div>
            <div class="card-body">
              <h3 class="h5 fw-bold">Lorem ipsum dolor sit amet, cons etetur sadipscing</h3>
              <span class="me-3 mt-1"><i class="fas fa-clock"></i> 02:34:12</span><span class="me-3 mt-1"><i class="fas fa-comment"></i> 234</span><span class="mt-1"><i class="fas fa-calendar"></i> Captured: 2021</span>
              <div class="clearfix"></div>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
              <a href="javascript:;" class="bg-light py-2 px-3 text-decoration-none text-muted d-inline-block mt-3 me-2">Lorem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
