@charset "UTF-8";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap');
* {
	margin: 0;
	padding: 0;
	outline: none !important;
	font-family: 'Lato', sans-serif;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Lato', sans-serif;
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, center {
	display: block;
}
nav ul, ul {
	list-style-type: none;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	color:#1E40B2;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #001674 !important;
	margin: 1em 0;
	padding: 0;
}
button {
	vertical-align: middle;
	cursor: pointer;
}
html {
	width: 100%;
	height: 100%;
	background: white;
	color: #333333;
	overflow: auto;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	line-height: 1;
	background-color: #F6F6F8;
	position: relative;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
li, dt, dd {
	list-style-type: none;
}
p {
	margin: 0;
}
img {
	border: 0;
	border: none;
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
.bg-primary{
	background:#0080C9 !important;
}
.bg-none{
	background:none !important;
}
.shadow{
	box-shadow:0 .5rem 1rem rgba(0, 128, 201, .15) !important;
}
.radius{
	border-radius: 12px;
}
.z-index{
	z-index: 1;
}
.bg-light2{
	background:#E6E6EF;
}
.btn-primary{
	background:#0080C9;
	border-color:#0080C9;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background:#00295d;
  border-color:#00295d;
}
.btn-outline-primary{
	border-color:#0080C9;
	color:#0080C9;
}
.text-primary{
  color:#0080C9 !important;
}
.line-h1{
	line-height: 22px;
}
.text-danger{
  color:#FF5555 !important;
}
.mt-n1{
	margin-top:-13px;
}
.close{
  margin-top:15px;
  cursor: pointer;
}
.img-containers img{
  object-fit: cover;
  min-height: 140px;
}
// .overflow-ellipsis {
//   background-color: #fff;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
/*******************************Reset CSS For All Pages Ends Here***************************/
.hero p{
	color:#B3D9EF;
}
.search{
	margin-top:-60px;
}
.search input{
	padding-left:70px;
}
.search .btn{
	top:12px;
	left:20px;
}
.videos .card{
  transition: all 0.4s;
}
.videos .card:hover{
  transform: translateY(-6px);
  box-shadow:0 0 15px rgb(216, 216, 216);
  transition: all 0.4s;
}
.videos .card span{
	font-size:12px;
	color:#999;
}
.videos .card .bg-light{
	font-size:14px;
	background:#EEEFF2 !important;
}
.videos .img-container img{
  max-height: 210px;
  min-height: 210px;
  object-fit: cover;
}
.videos .card .play{
	background:rgba(0, 0, 0, 0.5);
	height:45px;
	width:45px;
	border:1px solid #FFF;
	line-height: 41px;
	top:50%;
	transform: translate(0, -20px);
}
.videos .card:hover .play, .videos .card:active .play, .videos .card:focus .play{
	background:rgba(0, 0, 0, 0.9);
}
.heart-red{
	color:#C24E4E;
}
.heart-white{
	color:#f8f2f2;
}
.comment-box img{
	width:50px;
	height:50px;
}
.video-list{
  transition: all 0.4s;
}
.video-list:hover{
  transform: scale(0.97);
  transition: all 0.4s;
}
.video-list span{
	background:rgba(0, 0, 0, 0.5);
	font-size:13px;
}
.video-list p{
  font-size:14px;
  line-height: 20px;
}
.video-list h5 a{
	color:#333;
}
.video-list h5 a:hover, .video-list h5 a:active, .video-list h5 a:focus{
	color:#0080C9;
}
.img-container .gif-img{
	display: none;
}
.hovered .gif-img{
	display:block;
}
.hovered .jpg-img{
	display:none;
}
.bookmarks a{
  font-size:12px;
}
.b-mark{
  right:-10px;
  border-radius:0 10px 10px 0 !important;
  bottom: 0;
  line-height: 30px;
}
.r-pills{
  border-radius:0 40px 40px 0 !important;
}
.add-users{
  padding:18px 10px;
}
.table-outer table th, .table-outer table td{
  padding:30px 15px;
  vertical-align: middle;
}
.table-outer table tbody tr{
  border-top:1px solid #EEE;
}
.table-outer table td small{
  font-size:11px;
  line-height: 13px;
}
.form-inner{
  border-radius:18px;
  border-top: 8px solid #5EC3FE;
  margin-top:-90px;
}
.input-uplaod input{
  width:150px;
  height:150px;
}
.w-radio{
  width:120px;
}
.w-radio .btn-outline-secondary{
  border-color:#CCC;
  font-weight: normal !important;
}
.w-radio .btn-check:checked+.btn, .w-radio .btn.active, .w-radio .btn.show, .w-radio .btn:first-child:active, .w-radio :not(.btn-check)+.btn:active{
  background: #FFF;
  color:#0080C9;
  border-color:#0080C9;
  font-weight: bold !important;
}
.cropped{
  width:150px;
  height: 150px;
}
.ngx-ic-source-image{
   max-width:80%;
}
@media (max-width:550px){
  .bookmarks, .bookmarks a{
    display:block !important;
    width: 100%;
    text-align: center;
  }
}
